BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
NamespaceIndentation: None
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: true
SortIncludes: Never
ColumnLimit: 0
