vsync 0
show_fps 1
ed_show_sub 0

bind f1       game 1
bind f2       game 2
bind f3       game 3
bind f4       game 1
bind f5       ed

bind w        hold forward
bind a        hold left
bind d        hold right
bind s        hold back
bind q        hold flydown
bind e        hold flyup

bind x          ed_del
bind c          ed_cube
bind c-s        ed_save
bind kpminus    ed_sub
bind kpplus     ed_add
bind c-down     ed_order_move 1
bind c-up       ed_order_move -1
bind c-g        ed_group
bind cs-g       ed_ungroup
bind c-minus    ed_grid_size_inc -1
bind c-equals   ed_grid_size_inc +1
bind g          ed_grid_size_inc +1
bind s-g        ed_grid_size_inc -1
bind minus      ed_sub
bind equals     ed_add
bind c-d        ed_clone


ed
map test
# ed_cube
# ed_move -2.5
# ed_cube
# ed_cube
# ed_move 2.5
# ed_cube
# ed_move 5
# ed_cube
# ed_move 7.5
# ed_cube
# ed_move 10
# game 0
# map test2