# echo a
# echo b
vsync 0
show_fps 1
ed_show_sub 0

bind f1       game 1
bind f2       game 2
bind f3       game 3
bind f4       game 1
bind f5       ed

bind x        ed_del
bind c        ed_cube
bind c-s      ed_save
bind kpminus  ed_sub
bind kpplus   ed_add
bind c-d      ed_dup

# ed
# ed_load test
# game 0
# map test2
